:root {
	--darkblue: #1e4759;
	--teal: #009f96;
    --lighter-teal: #009f964d;
	--yellow: #f5b672;
	--orange: #f2896f;
	--red: #dc5556;
    --whiteish: #f2f2f2;
}

#goniometer-handle {
    padding: 0 0.5rem;
    vertical-align: middle;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    user-select: none;

    &::after {
        content: '\f0b2';
        font-family: 'FontAwesome';
    }
}

.goniometer-container {
    z-index: 999;
    top: 100px;
    left: 200px;
    position: fixed;
    background: none;
    width: auto;
    height: auto;
    border-radius: 25px;
    /* border: 1px solid black; */
    background-color: #f2f2f24d;
    overflow: hidden;
    resize: both;
}
#goniometer-canvas {
    z-index: 1000;
    /* top: 20%;
    left: 20%; */
    position: relative;
    /* background-color: #f2f2f24d;
    border-radius: 25px; */
}

.goniometer-title {
    position: relative;
    color: black;
    padding: 1rem 0.5rem;
    width: stretch;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* border-radius: 25px;
    background-color: #f2f2f24d; */

    h1 {
        padding: 0.5rem 1rem;
    }
}

.goniometer-button {
    z-index: 9999;
    padding: 0.5rem 1rem;
    background: none;
    color: black;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    position: relative;

    button {
        padding: 0 0.5rem;
        vertical-align: middle;
        text-align: center;
        font-size: 1rem;
        font-weight: 400;
    }

    button:hover {
        color: var(--teal);
    }
}

#copy-btn::after {
    content: '\f24d';
    font-family: 'FontAwesome';
    /* vertical-align: middle;
    text-align: center;
    font-size: 1rem;
    font-weight: 400; */
}

#reset-btn::after {
    content: '\f0e2';
    font-family: 'FontAwesome';
    /* vertical-align: middle;
    text-align: center;
    font-size: 1rem;
    font-weight: 200; */
}

#close-btn::after {
    content: '\f00d';
    font-family: 'FontAwesome';
    /* vertical-align: middle;
    text-align: center;
    font-size: 1rem;
    font-weight: 200; */
}